

<mat-card class="loginCard"> 
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
        <form class="">
          <table class="" cellspacing="20">
            <tr>
              <td>
                <mat-form-field>
                <input matInput placeholder="Username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
        </form>
        <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
      </mat-card-content>


</mat-card>