<mat-card class="loginCard"> 
  <mat-card-title>Login</mat-card-title>
<mat-card-content>


  <!-- <mat-form-field appearance="fill"> 
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill"> 
    <mat-label>Password</mat-label>
    <input matInput>
  </mat-form-field> -->

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl" placeholder="">

      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

    </mat-form-field>
    
</form>

<button [disabled]="!emailFormControl.valid || !passwordFormControl.valid" mat-raised-button color="primary" (click)="submit()">Login</button>
 

</mat-card-content>
</mat-card>