<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-size: 16px; */
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mat-icon {
    /* Not sure why it needs to be this, but it aligns correctly with Login text with it */
    vertical-align:text-top;
  }

  img {
    margin: 0 16px;
    width: 2rem;
    vertical-align: sub;
  }

  @media (min-width: 320px) {
    img {
      width: calc(2rem + 1vw);
    }
  }

  @media (min-width: 1500px) {
    img {
      width: 3rem;
    }
  }

  #login {
    margin: 0 16px;
    font-size: 1rem;
    color: whitesmoke;

  }

  @media (min-width: 320px) {
    #login {
      font-size: calc(1rem + .3vw);
    }
  }

  @media (min-width: 1500px) {
    #login {
      font-size: 1.4rem;
    }
  }

  h1 {
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 200;
    /* justify-content: center; */
  }

  @media (min-width: 320px) {
    h1 {
      font-size: calc(1rem + 2.5vw);
    }
  }

  @media (min-width: 1500px) {
    h1 {
      font-size: 3.5rem;
    }
  }

  a:link {
    text-decoration: none;
  }

  nav :hover {
    opacity: 0.8;
  }

  .element1 {
    text-align: left;
    width: 100%;
  }

  .element2 {
    text-align: center;
    width: 100%;
  }

  .element3 {
    text-align: right;
    width: 100%;
  }
</style>

<!-- 
THIS ISNT CENTERED BECAUSE OF THE SPACE BETWEEN. I THINK THE 2 outside elements need to be marign auto 
to pull themselves to the outside, but then get the title right in the center.  -->





<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">

  <nav>
    <a routerLink="/">
      <img alt="Angular Logo" src="data:image/svg+xml;base64,
        PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZp
        ZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9
        Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMX
        oiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAx
        NC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMT
        gyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE
        3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    </a>

  </nav>

  <nav>
    <a routerLink="/">
      <h1>MetroNomies</h1>
    </a>
  </nav>



  <nav>
    <a routerLink="/login" id="login">
      <mat-icon>perm_identity</mat-icon>
      Login
    </a>
  </nav>
</div> -->


<!-- <mat-toolbar class="no" color="primary">
    <p >sf</p>
    <p class="test">df </p>
    <p>dsfkljjklhkljhljkhljhjhluhljhl</p>
  </mat-toolbar> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="element1">
      <nav>
        <a routerLink="/">
          <img alt="Angular Logo" src="data:image/svg+xml;base64,
            PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZp
            ZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9
            Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMX
            oiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAx
            NC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMT
            gyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE
            3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        </a>

      </nav>
    </span>
    <span class="element2">
      <nav>
        <a routerLink="/">
          <h1>MetroNomies</h1>
        </a>
      </nav>
    </span>
    <span class="element3">
      <nav>
        <a routerLink="/login" id="login">
          <mat-icon>perm_identity</mat-icon>
          Login
        </a>
      </nav>

    </span>
  </mat-toolbar-row>
</mat-toolbar>




<router-outlet></router-outlet>


<!-- <app-metr></app-metr> -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->