

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

.BPMValue {
    font-size: 80px;
}

mat-slider {
    width: 300px;
    margin: 0px 15px;
}

.slider {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.metrOptions {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.playOrpause {
    transform: scale(2);
    
}

.firstBeatButton {
    margin-left: auto; 
    font-style: italic;
}