

<div class="content">
    <h1 class="BPMValue"> {{value}} bpm</h1>

    <div class="slider">

        <button mat-mini-fab color="warn" aria-label="Subtract 1" (click)="SubtractOne()">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>

        <mat-slider min="1" max="200" step="1" [(ngModel)]="value"></mat-slider>

        <button mat-mini-fab color="warn" aria-label="Add 1" (click)="AddOne()">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>

    </div>

    <div class="metrOptions">
        <button *ngIf="isPlaying == false" mat-fab color="warn" aria-label="Start Metronome" (click)="PlayBack()">
            <mat-icon class="playOrpause">play_circle_outline</mat-icon>
        </button>
    
        <button *ngIf="isPlaying == true" mat-fab color="warn" aria-label="Start Metronome" (click)="PlayBack()">
            <mat-icon class="playOrpause">pause_circle_outline</mat-icon>
        </button>

        <mat-checkbox class="firstBeatButton" [(ngModel)]="stressFirstBeat">
            Stress First Beat
        </mat-checkbox>

    </div>

    
    <!-- <app-saved-beats [selectedSong]="selectedSong" (songChanged)="songChangedHandler($event)"></app-saved-beats> -->
    <!-- <app-saved-beats [events]="emitbpmChangedBySliderOrButtons.asObservable()" (songChanged)="songChangedHandler($event)"></app-saved-beats> -->
    <app-saved-beats (songChanged)="songChangedHandler($event)"></app-saved-beats>
</div>


<router-outlet></router-outlet>