
/* 
@media only screen and (max-height: 400px) {

    .content {
        display: flex;
        margin: 60px auto 5% !important;
        flex-direction: column;
        align-items: center;
    }
} */

.content {
    display: flex;
    margin: 60px auto 5% !important;
    flex-direction: column;
    align-items: center;
}

.BPMValue {
    font-size: 3rem;
}

@media (min-width: 320px) {
    .BPMValue {
        font-size: calc(3rem + 2.8vw) !important;
    }
}

@media (min-width: 1500px) {
    .BPMValue {
        font-size: 6rem !important;
    }
}

.metrOptions {
    width: 300px !important;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

mat-slider {
    width: 40vw;
    margin: 0px 10px;
}

@media (min-width: 1500px) {
    mat-slider {
        width: 600px;
    }
}

.sliderAndButtons {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.playOrpause {
    transform: scale(2);
}

.firstBeatButton {
    margin-left: auto; 
    font-style: italic;
}