

@media only screen and (max-height: 400px) {

    .content {
        display: flex;
        margin: 60px auto 5% !important;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (max-width: 480px) {

    .BPMValue {
        font-size: 50px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .metrOptions {
        width: 300px !important;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
}

.content {
    display: flex;
    margin: 15px auto 5%;
    flex-direction: column;
    align-items: center;
  }

.BPMValue {
    font-size: 12.5vh;
}

mat-slider {
    width: 40vw;
    margin: 0px 10px;
}

.slider {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.metrOptions {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.playOrpause {
    transform: scale(2);
    
}

.firstBeatButton {
    margin-left: auto; 
    font-style: italic;
}